<div id="header">
  <div class="container">
    <h1 style="color: white">Pulseiras</h1>
  </div>
</div>

<div style="background-color: white">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Foi ativada</th>
      <th>Código</th>
      <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let bracelet of bracelets">
      <td style="vertical-align: middle">{{ bracelet._id }}</td>
      <td style="vertical-align: middle">{{ bracelet.status ? 'Sim' : 'Não' }}</td>
      <td style="vertical-align: middle">{{ bracelet.code }}</td>
      <td style="vertical-align: middle">
        <button class="btn btn-primary" (click)="updateBracelet(bracelet)">Editar</button>
        <button class="btn btn-danger" (click)="deleteBracelet(bracelet)">Remover</button></td>
    </tr>
    </tbody>
  </table>
</div>

<div>
  <button id="fixedButton" class="btn btn-success" (click)="createBracelet()"><span class="glyphicon glyphicon-plus-sign"></span> Nova pulseira</button>
</div>
