<div id="header">
  <div class="container">
    <h1 style="color: white">Pulseiras</h1>
  </div>
</div>

<div style="background-color: white">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Dono</th>
      <th>Data de criação</th>
      <th>Data de ativação</th>
      <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Usuário a</td>
      <td>111111111</td>
      <td>Rua exemplo 1, número 123</td>
      <td><a href="">Remover</a></td>
    </tr>
    <tr>
      <td>Usuário B</td>
      <td>222222222</td>
      <td>Rua exemplo 2, número 456</td>
      <td><a href="">Remover</a></td>
    </tr>
    <tr>
      <td>-</td>
      <td>333333333</td>
      <td>Rua exemplo 3, número 789</td>
      <td><a href="">Remover</a></td>
    </tr>
    </tbody>
  </table>
</div>

<div>
  <button id="fixedButton" class="btn btn-success" (click)="showBracelet()"><span class="glyphicon glyphicon-plus-sign"></span> Nova pulseira</button>
</div>
