<div id="header">
  <div class="container">
    <h1 style="color: white">Pulseiras</h1>
  </div>
</div>

<div style="background-color: white">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Dono</th>
      <th>Data de criação</th>
      <th>Data de ativação</th>
      <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let bracelet of bracelets">
      <td style="vertical-align: middle">{{ bracelet.dono }}</td>
      <td style="vertical-align: middle">{{ bracelet.dataCriacao.getDate() + '/' + (bracelet.dataCriacao.getMonth() + 1) + '/' + bracelet.dataCriacao.getFullYear() }}</td>
      <td style="vertical-align: middle">{{ bracelet.dataAtivacao.getDate() + '/' + (bracelet.dataAtivacao.getMonth() + 1) + '/' + bracelet.dataAtivacao.getFullYear()}}</td>
      <td style="vertical-align: middle">
        <button class="btn btn-primary" (click)="updateBracelet(bracelet)">Editar</button>
        <button class="btn btn-danger" (click)="deleteBracelet(bracelet)">Remover</button></td>
    </tr>
    </tbody>
  </table>
</div>

<div>
  <button id="fixedButton" class="btn btn-success" (click)="createBracelet()"><span class="glyphicon glyphicon-plus-sign"></span> Nova pulseira</button>
</div>
