<div id="header">
  <div class="container">
    <h1 style="color: white">Usuários</h1>
  </div>
</div>

<div style="background-color: white">
<table class="table table-striped">
  <thead>
  <tr>
    <th>Nome</th>
    <th>Email</th>
    <th>CPF</th>
    <th>Ações</th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users">
    <td>{{ user.name }}</td>
    <td>{{ user.email }}</td>
    <td>{{ user.cpf }}</td>
    <td><a href="">Editar</a>
        <a href="">Remover</a>
    </td>
  </tr>
  </tbody>
</table>
</div>

<div>
  <button type="button" class="btn btn-success" id="fixedButton" (click)="showModal()">
    <span class="glyphicon glyphicon-plus-sign"></span> Novo usuário</button>
</div>



