<div id="header">
  <div class="container">
    <h1 style="color: white">Usuários</h1>
  </div>
</div>

<div style="background-color: white">
<table class="table table-striped">
  <thead>
  <tr>
    <th>Nome</th>
    <th>Email</th>
    <th>CPF</th>
    <th>Ações</th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users">
    <td style="vertical-align: middle">{{ user.name }}</td>
    <td style="vertical-align: middle">{{ user.email }}</td>
    <td style="vertical-align: middle">{{ user.cpf }}</td>
    <td style="vertical-align: middle">
      <button class="btn btn-primary" (click)="updateUser(user)">Editar</button>
      <button class="btn btn-danger" (click)="deleteUser(user)">Remover</button>
    </td>
  </tr>
  </tbody>
</table>
</div>

<div>
  <button type="button" class="btn btn-success" id="fixedButton" (click)="createUser()">
    <span class="glyphicon glyphicon-plus-sign"></span> Novo usuário</button>
</div>



