<div class="container" id="body">
  <div class="col-md-8 col-md-offset-2">
    <div class="jumbotron" id="login-box">
      <div *ngIf="alertMessage != undefined" class="alert alert-danger">
        <h4>{{ alertMessage }}</h4>
      </div>
      <h2>Login</h2>
      <hr>

      <form #f="ngForm" (ngSubmit)="login()" class="form-horizontal" style="margin-top: 30px">
        <div class="form-group" id="form-item" [ngClass]="{ 'has-error' : !pin.valid && pin.touched }">
          <label for="pin" class="control-label col-md-3">Digite o pin:</label>
          <div class="col-md-8 col-md-offset-1" style="margin-left: 10px">
            <input type="password" class="form-control" pattern="[0-9]{8}" id="pin" name="pin" [(ngModel)]="user.pin" maxlength="8" required #pin="ngModel">
            <div *ngIf="pin.invalid && pin.touched" class="help-block">Pin deve conter 8 caracteres e apenas números!</div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-offset-3">
            <div class="col-md-8" style="margin-left: 10px">
              <div class="radio">
                <label for="radio_coletor"><input type="radio" id="radio_coletor" name="tipoUsuario" value="coletor" [(ngModel)]="user.typeOfUser" required>Coletor</label>
              </div>

              <div class="radio">
                <label for="radio_adm"><input type="radio" id="radio_adm" name="tipoUsuario" value="adm" [(ngModel)]="user.typeOfUser" required>Administrador</label>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group text-center">
          <button type="submit" class="btn btn-primary" style="width: 90px" [disabled]="!f.valid || this.loading">
            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            Entrar</button>
        </div>
      </form>
  </div>

  </div>
</div>
