<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="close()">&times;</button>
      <h4 class="modal-title">{{ title }}</h4>
    </div>
    <div class="modal-body">


      <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="form-horizontal">
        <div class="form-group" [ngClass]="{ 'has-error' : !name.valid && name.touched }">
          <label for="nome" class="control-label col-sm-2" style="text-align: left">Nome:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="nome" name="name" required [ngModel]="user.name" #name="ngModel">
          </div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error' : !email.valid && email.touched }">
          <label for="email" class="control-label col-sm-2" style="text-align: left">Email:</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="email" name="email" required [ngModel]="user.email" #email="ngModel">
          </div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error' : !password.valid && password.touched }">
          <label for="senha" class="control-label col-sm-2" style="text-align: left">Senha:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="senha" name="password" required [ngModel]="user.password" #password="ngModel">
          </div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error' : !data.valid && data.touched }">
          <label for="datanascimento" class="control-label col-sm-2" style="text-align: left">Nascimento:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="datanascimento" name="data" [ngModel]="user.birth" #data="ngModel">
          </div>
        </div>

        <div class="form-group">
          <label for="sexo" class="control-label col-sm-2" style="text-align: left">Sexo:</label>
          <div class="col-sm-10">
            <select name="sexo" id="sexo" class="form-control" [ngModel]="user.sex">
              <option value="M">Masculino</option>
              <option value="F">Feminino</option>
            </select>
          </div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error' : !telefone.valid && telefone.touched }">
          <label for="telefone" class="control-label col-sm-2" style="text-align: left">Telefone:</label>
          <div class="col-sm-10">
            <input type="tel" id="telefone" class="form-control" name="telefone" required [ngModel]="user.phone" #telefone="ngModel">
          </div>
        </div>

        <div class="form-group">
          <label for="pontos" class="control-label col-sm-2" style="text-align: left">Pontos:</label>
          <div class="col-sm-10">
            <input type="tel" id="pontos" class="form-control" name="points" [ngModel]="user.points">
          </div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error' : !rua.valid && rua.touched }">
          <label for="rua" class="control-label col-sm-2" style="text-align: left">Rua:</label>
          <div class="col-sm-10">
            <input type="text" id="rua" class="form-control" name="rua" required [ngModel]="user.street" #rua="ngModel">
          </div>
        </div>

        <div class="form-group">
          <label for="complemento" class="control-label col-sm-2" style="text-align: left">Complemento:</label>
          <div class="col-sm-10">
            <input type="text" id="complemento" class="form-control" name="complemento" [ngModel]="user.complement">
          </div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error' : !numero.valid && numero.touched }">
          <label for="numero" class="control-label col-sm-2" style="text-align: left">Número</label>
          <div class="col-sm-10">
            <input type="number" id="numero" class="form-control" name="numero" required [ngModel]="user.number" #numero="ngModel">
          </div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error' : !bairro.valid && bairro.touched }">
          <label for="bairro" class="control-label col-sm-2" style="text-align: left">Bairro:</label>
          <div class="col-sm-10">
            <input type="text" id="bairro" class="form-control" name="bairro" required [ngModel]="user.neighborhood" #bairro="ngModel">
          </div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error' : !cidade.valid && cidade.touched }">
          <label for="cidade" class="control-label col-sm-2" style="text-align: left">Cidade:</label>
          <div class="col-sm-10">
            <input type="text" id="cidade" class="form-control" name="cidade" required [ngModel]="user.city" #cidade="ngModel">
          </div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error' : !estado.valid && estado.touched }">
          <label for="estado" class="control-label col-sm-2" style="text-align: left">Estado:</label>
          <div class="col-sm-10">
            <input type="text" id="estado" class="form-control" name="estado" required [ngModel]="user.state" #estado="ngModel">
          </div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error' : !cep.valid && cep.touched }">
          <label for="cep" class="control-label col-sm-2" style="text-align: left">CEP:</label>
          <div class="col-sm-10">
            <input type="text" id="cep" class="form-control" name="cep" required [ngModel]="user.zipcode" #cep="ngModel">
          </div>
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Ok</button>
          <button type="button" class="btn btn-default" (click)="close()">Cancel</button>
        </div>

      </form>
    </div>
  </div>

</div>
