<div id="header">
  <div class="container">
    <h1 style="color: white">Eventos</h1>
  </div>
</div>

<div style="background-color: white">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Local</th>
      <th>Descrição</th>
      <th>Data de início</th>
      <th>Data de fim</th>
      <th>Ações</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let event of events">
      <td style="vertical-align: middle">{{ event.local }}</td>
      <td style="vertical-align: middle">{{ event.descricao }}</td>
      <td style="vertical-align: middle">{{ event.dataInicio.getDate() + '/' + (event.dataInicio.getMonth() + 1) + '/' + event.dataInicio.getFullYear() }}</td>
      <td style="vertical-align: middle">{{ event.dataFim.getDate() + '/' + (event.dataFim.getMonth() + 1) + '/' + event.dataFim.getFullYear()}}</td>
      <td style="vertical-align: middle">
        <button class="btn btn-primary" (click)="updateEvent(event)">Editar</button>
        <button class="btn btn-danger" (click)="deleteEvent(event)">Remover</button></td>
    </tr>

    </tbody>
  </table>
</div>

<div>
  <button id="fixedButton" class="btn btn-success" (click)="showEvent()">
    <span class="glyphicon glyphicon-plus-sign"></span> Novo evento</button>
</div>
