<div id="header">
  <div class="container">
    <h1 style="color: white">Eventos</h1>
  </div>
</div>

<div style="background-color: white">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Local</th>
      <th>Descrição</th>
      <th>Data de início</th>
      <th>Data de fim</th>
      <th>Ações</th>

    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Campina Grande</td>
      <td>Coleta seletiva</td>
      <td>11/11/11</td>
      <td>12/11/11</td>
      <td><a href="">Editar</a>
        <a href="">Remover</a>
      </td>
    </tr>
    <tr>
      <td>João Pessoa</td>
      <td>Coleta seletiva</td>
      <td>22/22/22</td>
      <td>23/22/22</td>
      <td><a href="">Editar</a>
        <a href="">Remover</a>
      </td>
    </tr>
    <tr>
      <td>Sumé</td>
      <td>To sem ideia de evento</td>
      <td>33/33/33</td>
      <td>34/33/33</td>
      <td><a href="">Editar</a>
        <a href="">Remover</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div>
  <button id="fixedButton" class="btn btn-success"><span class="glyphicon glyphicon-plus-sign"></span> Novo evento</button>
</div>
