<div id="header">
  <div class="container">
    <h1 style="color: white">Eventos</h1>
  </div>
</div>

<div style="background-color: white">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Descrição</th>
      <th>Data de início</th>
      <th>Data de fim</th>
      <th>Ações</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let event of events">
      <td style="vertical-align: middle">{{ event.description }}</td>
      <td style="vertical-align: middle">{{ event.created }}</td>
      <td style="vertical-align: middle">{{ event.ended }}</td>
      <td style="vertical-align: middle">
        <button class="btn btn-primary" (click)="updateEvent(event)" [disabled]="this.loading">Editar</button>
        <button class="btn btn-danger" (click)="deleteEvent(event)" [disabled]="this.loading">Remover</button></td>
    </tr>

    </tbody>
  </table>
</div>

<div>
  <button id="fixedButton" class="btn btn-success" (click)="createEvent()" [disabled]="this.loading">
    <span class="glyphicon glyphicon-plus-sign"></span> Novo evento</button>
</div>
