<div id="header">
  <div class="container">
    <h1 style="color: white">Coletores</h1>
  </div>
</div>

<div style="background-color: white">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>CNPJ</th>
      <th>Ações</th>

    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Coletor A</td>
      <td>coletora@exemplo.com</td>
      <td>11.111.111/0001-11</td>
      <td><a href="">Editar</a>
        <a href="">Remover</a>
      </td>
    </tr>
    <tr>
      <td>Coletor B</td>
      <td>coletorb@example.com</td>
      <td>22.222.222/0001-22</td>
      <td><a href="">Editar</a>
        <a href="">Remover</a>
      </td>
    </tr>
    <tr>
      <td>Coletor C</td>
      <td>coletorc@example.com</td>
      <td>33.333.333/0001-33</td>
      <td><a href="">Editar</a>
        <a href="">Remover</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div>
  <button id="fixedButton" class="btn btn-success" (click)="showCollector()"><span class="glyphicon glyphicon-plus-sign"></span> Novo coletor</button>
</div>
