<div id="header">
  <div class="container">
    <h1 style="color: white">Coletores</h1>
  </div>
</div>

<div style="background-color: white">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>CNPJ</th>
      <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let collector of collectors">
      <td style="vertical-align: middle">{{ collector.nome }}</td>
      <td style="vertical-align: middle">{{ collector.email }}</td>
      <td style="vertical-align: middle">{{ collector.cnpj }}</td>
      <td style="vertical-align: middle">
        <button class="btn btn-primary" (click)="updateCollector(collector)">Editar</button>
        <button class="btn btn-danger" (click)="deleteCollector(collector)">Remover</button></td>
    </tr>
    </tbody>
  </table>
</div>

<div>
  <button id="fixedButton" class="btn btn-success" (click)="showCollector()"><span class="glyphicon glyphicon-plus-sign"></span> Novo coletor</button>
</div>
