<div id="header">
  <div class="container">
    <h1 style="color: white">Coletores</h1>
  </div>
</div>

<div style="background-color: white">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>CNPJ</th>
      <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let collector of collectors">
      <td>{{ collector.nome }}</td>
      <td>{{ collector.email }}</td>
      <td>{{ collector.cnpj }}</td>
      <td><a href="">Editar</a>
          <a href="">Remover</a></td>
    </tr>
    </tbody>
  </table>
</div>

<div>
  <button id="fixedButton" class="btn btn-success" (click)="showCollector()"><span class="glyphicon glyphicon-plus-sign"></span> Novo coletor</button>
</div>
