<div id="header">
  <div class="container">
    <h1 style="color: white">Locais de depósito</h1>
  </div>
</div>

<div style="background-color: white">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Local</th>
      <th>Telefone</th>
      <th>Endereço</th>
      <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let place of depositPlaces">
      <td style="vertical-align: middle">{{ place.local }}</td>
      <td style="vertical-align: middle">{{ place.telefone }}</td>
      <td style="vertical-align: middle">{{ place.endereco }}</td>
      <td style="vertical-align: middle">
        <button class="btn btn-primary" (click)="updateDepositPlace(place)">Editar</button>
        <button class="btn btn-danger" (click)="deleteDepositPlace(place)">Remover</button></td>
    </tr>
    </tbody>
  </table>
</div>

<div>
  <button id="fixedButton" class="btn btn-success" (click)="createDepositPlace()"><span class="glyphicon glyphicon-plus-sign"></span> Novo local</button>
</div>
