<div id="header">
  <div class="container">
    <h1 style="color: white">Locais de depósito</h1>
  </div>
</div>

<div style="background-color: white">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Local</th>
      <th>Telefone</th>
      <th>Endereço</th>
      <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Local A</td>
      <td>111111111</td>
      <td>Rua exemplo 1, número 123</td>
      <td><a href="">Editar</a>
        <a href="">Remover</a>
      </td>
    </tr>
    <tr>
      <td>Local B</td>
      <td>222222222</td>
      <td>Rua exemplo 2, número 456</td>
      <td><a href="">Editar</a>
        <a href="">Remover</a>
      </td>
    </tr>
    <tr>
      <td>Local c</td>
      <td>333333333</td>
      <td>Rua exemplo 3, número 789</td>
      <td><a href="">Editar</a>
        <a href="">Remover</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div>
  <button id="fixedButton" class="btn btn-success" (click)="showDepositPlace()"><span class="glyphicon glyphicon-plus-sign"></span> Novo local</button>
</div>
