<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <span class="navbar-brand" style="color: white">PickGreen</span>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-left">
        <li routerLinkActive="active">
          <a routerLink="/mapa" style="color: white">Mapa</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/novo-deposito" style="color: white">Novo depósito</a>
        </li>
        <li routerLinkActive="active"><a routerLink="usuarios">Usuários</a></li>
        <li routerLinkActive="active"><a routerLink="eventos">Eventos</a></li>
        <li routerLinkActive="active"><a routerLink="locais-de-deposito">Locais de depósito</a></li>
        <li routerLinkActive="active"><a routerLink="coletores">Coletores</a></li>
        <li routerLinkActive="active"><a routerLink="pulseiras">Pulseiras</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/login" style="color: white"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>

    </div>
  </div>
</nav>

<router-outlet></router-outlet>
