<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <span class="navbar-brand">PickGreen</span>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-left">
        <li routerLinkActive="active">
          <a routerLink="/mapa">Mapa</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/novo-deposito">Novo depósito</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>

    </div>
  </div>
</nav>

<router-outlet></router-outlet>
