<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="close()">&times;</button>
      <h4 class="modal-title">{{ title || "Nova pulseira"}}</h4>
    </div>
    <div class="modal-body">


      <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="form-horizontal">
        <div class="form-group">
          <label for="nome" class="control-label col-sm-2" style="text-align: left">Dono:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="nome" name="dono" ngModel required>
          </div>
        </div>

        <div class="form-group">
          <label for="dataCriacao" class="control-label col-sm-2" style="text-align: left">Data de criação:</label>
          <div class="col-sm-10">
            <input type="date" class="form-control" id="dataCriacao" name="dataCriacao" ngModel required>
          </div>
        </div>

        <div class="form-group">
          <label for="dataAtivacao" class="control-label col-sm-2" style="text-align: left">Data de ativação:</label>
          <div class="col-sm-10">
            <input type="date" class="form-control" id="dataAtivacao" name="dataAtivacao" ngModel>
          </div>
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Ok</button>
          <button type="button" class="btn btn-default" (click)="close()">Cancel</button>
        </div>

      </form>
    </div>

  </div>

</div>
