<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="close()">&times;</button>
      <h4 class="modal-title">{{ title || "Nova pulseira"}}</h4>
    </div>
    <div class="modal-body">


      <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="form-horizontal">
        <div class="form-group">
          <label class="control-label col-sm-2" style="text-align: left">Ativar:</label>
          <div class="col-sm-10">
            <label class="radio-inline"><input type="radio" id="radioSim" [value]="true" name="ativar" [ngModel]="bracelet.status">Sim</label>
            <label class="radio-inline"><input type="radio" id="radioNao" [value]="false" name="ativar" [ngModel]="bracelet.status">Não</label>

          </div>
        </div>

        <div class="form-group">
          <label for="userId" class="control-label col-sm-2" style="text-align: left">Dono:</label>
          <div class="col-sm-10">
            <select type="text" class="form-control" id="userId" name="userId" [disabled]="!f.value.ativar" [ngModel]="bracelet.user_id">
              <option *ngFor="let user of users" value="{{ user._id }}">{{ user.name }}</option>
            </select>
          </div>
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Ok</button>
          <button type="button" class="btn btn-default" (click)="close()">Cancelar</button>
        </div>

      </form>
    </div>

  </div>

</div>
